<div class="modal-header">
  <h3 class="modal-title">Remove {{vm.entityname}}?</h3>
</div>
<div class="modal-body">
  Do you really want to remove {{vm.entityname}}?
</div>
<div class="modal-footer">
  <div class="control-content">
    <button ng-repeat="button in vm.confirmButtons" class="btn btn-primary" ng-click="vm.ok(button.value)" ng-bind="button.label"></button>
    <a href="" ng-repeat="button in vm.cancelButtons" ng-click="vm.cancel(button.value)" ng-bind="button.label"></a>
  </div>
</div>