html {
	background: #f2f2f2;
	color: #222222;
	font: 13px/1.5 arial, sans-serif;
}

span#logged_in_as {
	position: absolute;
	top: 48px;
	right: 10px;
}

table#main\:navigationbar {
	margin-bottom: 14px;
}

td.caption {
	font-weight: bold;
	width: 160px;
	vertical-align: top;
	padding-top: 3px;
}

td.value {
	width: 300px;
}

td.value select, td.value input[type='text'], td.value input[type='password'], textarea {
	width: 100%;
	margin: 0;
	padding: 0;
}

td.help {
	padding-left: 15px;
	font-size: 80%;
}

div.rf-p, div.rf-tbp {
	margin-bottom: 14px;
}

table.rf-dt {
	margin-bottom: 12px;
}

/* Nice looking links */
a .linktext, a .linkimage {
	vertical-align: middle;
}

a .linkimage {
	margin-right: 3px;
}

/* deletion links */
a.deletionlink {
	float: right;
}