<h1 class="page-header"><i class="fa fa-database"></i>{{!vm.maven_repository.name ? '&nbsp;' : vm.maven_repository.name}}</h1>

<form class="form-horizontal" name="form">
	<label-group label="{{'name' | translate}}" ng-class="{'has-error': form.name.$touched && form.name.$error.required}">
		<p>
			<input type="text" class="form-control" ng-model="vm.maven_repository.name" name="name" required />
		</p>
	</label-group>
	<label-group label="{{'uri' | translate}}" ng-class="{'has-error': form.baseUrl.$touched && (form.baseUrl.$error.pattern || form.baseUrl.$error.required)}">
		<p>
			<input type="text" class="form-control" ng-model="vm.maven_repository.baseUrl" name="baseUrl" required/>
		</p>
	</label-group>
	<button type="submit" ng-click="vm.save()" class="btn btn-light" ng-disabled="form.$invalid"><i class="fa fa-floppy-o"></i> Save</button>
</form>
