<div>
	<h2 class="sub-header" translate="copy"></h2>
	<div class="panel panel-default" ng-repeat="actionCopy in entity.actionCopies">
		<div class="panel-heading"><button type="button" ng-click="service.removeActionCopy(entity, actionCopy)" class="btn btn-danger"><i class="fa fa-minus-circle"></i> {{'removeActionCopy' | translate}}</button></div>
		<div class="panel-body">
			<label-group label="{{'targetPath' | translate}}">
				<p>
					<input type="text" class="form-control" ng-model="actionCopy.targetPath" name="targetPath" required />
				</p>
			</label-group>
			<label-group label="{{'targetFilename' | translate}}">
				<p>
					<input type="text" class="form-control" ng-model="actionCopy.targetFilename" name="targetFilename" required />
				</p>
			</label-group>

			<button type="button" ng-click="service.addMavenArtifact(actionCopy)" ng-if="!actionCopy.mavenArtifact && actionCopy.spacerUrl === undefined" class="btn btn-light"><i class="fa fa-plus"></i> {{'addMavenArtifact' | translate}}</button>
			<button type="button" ng-click="service.addSpacerUrl(actionCopy)" ng-if="!actionCopy.mavenArtifact && actionCopy.spacerUrl === undefined" class="btn btn-light"><i class="fa fa-plus"></i> {{'addSpacerUrl' | translate}}</button>

			<div ng-if="actionCopy.mavenArtifact">
			<button type="button" ng-click="service.removeMavenArtifact(actionCopy)" class="btn btn-danger"><i class="fa fa-minus-circle"></i> {{'removeMavenArtifact' | translate}}</button>
			<label-group label="groupId">
				<p>
					<input type="text" class="form-control" ng-model="actionCopy.mavenArtifact.groupId" name="groupId" required />
				</p>
			</label-group>
			<label-group label="artifactId">
				<p>
					<input type="text" class="form-control" ng-model="actionCopy.mavenArtifact.artifactId" name="artifactId" required />
				</p>
			</label-group>
			<label-group label="packaging">
				<p>
					<input type="text" class="form-control" ng-model="actionCopy.mavenArtifact.packaging" name="packaging" placeholder="jar" />
				</p>
			</label-group>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="control_id_vcs_host" translate="maven_repository"></label>
				<div class="col-sm-10 label-group-content">
					<div class="btn-group">
						<button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							{{maven_repository_lookup[actionCopy.mavenArtifact.mavenRepositoryId].name}} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li ng-repeat="maven_repository in maven_repositories"><a href ng-click="actionCopy.mavenArtifact.mavenRepositoryId = maven_repository.id">{{maven_repository.name}}</a></li>
						</ul>
					</div>
				</div>
			</div>
			</div>

			<div ng-if="actionCopy.spacerUrl != undefined">
			<button type="button" ng-click="service.removeSpacerUrl(actionCopy)" class="btn btn-danger"><i class="fa fa-minus-circle"></i> {{'removeSpacerUrl' | translate}}</button>
			<label-group label="{{'spacerUrl' | translate}}">
				<p>
					<input type="text" class="form-control" ng-model="actionCopy.mavenArtifact.spacerUrl" name="spacerUrl" />
				</p>
			</label-group>
			</div>
		</div>
	</div>
	<button type="button" ng-click="service.addActionCopy(entity)" class="btn btn-light"><i class="fa fa-plus"></i> {{'addActionCopy' | translate}}</button>
</div>