<h1 class="page-header"><i class="fa fa-cogs"></i> {{'roles' | translate}}</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th class="col-sm-4 sortable">
            <span ng-click="vm.order('name')" class="sortable" id="sort_name" translate="name"></span>
            <span class="sortorder" ng-show="vm.predicate === 'name'" ng-class="{reverse: vm.reverse}"></span>
        </th>
        <th ng-repeat="permission in vm.permissions" ng-bind="permission | permissionName"></th>
        <th class="col-sm-1" translate="action"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="role in vm.roles | filter: search | orderBy:vm.predicate:vm.reverse">
        <td><a href="#roles/{{role.id}}" ng-bind="role.name"></a></td>
        <td ng-repeat="permission in vm.permissions"><i class="fa fa-check" ng-if="vm.isSelected(permission, role)"></i></td>
        <td><button ng-click="vm.remove(role)" class="btn btn-danger"><i class="fa fa-minus-circle"></i> {{'remove' | translate}}</button></td>
    </tr>
    </tbody>
</table>
<button ng-click="vm.add()" class="btn btn-default"><i class="fa fa-plus-circle"></i> Add</button>
