/* Selected lines in tables */
.table > tbody > tr.selected > td {
	background-color: #428bca;
	color: #fff;
}

/* Sortable table columns */
.sortable {
	cursor: pointer;
}
.sortorder:after {
	content: '\25bc';
}
.sortorder.reverse:after {
	content: '\25b2';
}

/* Drag and drop file upload */
.drop-box {
	background: #F8F8F8;
	border: 5px dashed #DDD;
	width: 400px;
	text-align: center;
	padding: 50px 10px;
	margin-left: 10px;
}
.drop-box.dragover {
	border: 5px dashed blue;
}
.drop-box.dragover-err {
	border: 5px dashed red;
}

/** Fontawesome usage in headers / input groups */
h1.page-header i.fa {
	margin-right: 8px;
}
.input-group-addon .fa {
	width: 1em;
	margin: 0 auto;
}

.deleted {
	text-decoration: line-through;
}

.history_entry {
    position: absolute;
    height: 20px;
    top: 0;
    text-shadow: 0 0 4px #ffffff;
}

