<!DOCTYPE html>
<html ng-app="versioningApp">

<head>
  <meta charset="utf8" />
  <title>Versioning</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- jQuery -->
  <script type="text/javascript" src="webjars/jquery/3.4.1/dist/jquery.min.js"></script>
  <!-- bootstrap -->
  <script type="text/javascript" src="webjars/bootstrap/4.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
  <!-- font-awesome -->
  <link rel="stylesheet" type="text/css" href="webjars/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Angular -->
  <script type="text/javascript" src="webjars/angular/1.7.8/angular.min.js"></script>
  <script type="text/javascript" src="webjars/angular-resource/1.7.8/angular-resource.min.js"></script>
  <script type="text/javascript" src="webjars/angular-route/1.7.8/angular-route.min.js"></script>
  <script type="text/javascript" src="webjars/angular-sanitize/1.7.8/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="webjars/angular-cookies/1.7.8/angular-cookies.min.js"></script>
  <!-- angular-translate -->
  <script type="text/javascript" src="webjars/angular-i18n/1.7.8/angular-locale_de-de.js"></script>
  <script type="text/javascript" src="webjars/angular-translate/2.18.1/dist/angular-translate.min.js"></script>
  <script type="text/javascript" src="webjars/angular-translate-loader-static-files/2.18.1/angular-translate-loader-static-files.min.js"></script>
  <!-- file upload -->
  <script type="text/javascript" src="webjars/ng-file-upload/12.2.13/dist/ng-file-upload-all.min.js"></script>
  <!-- moment -->
  <script type="text/javascript" src="webjars/moment/2.24.0/min/moment.min.js"></script>
  <script type="text/javascript" src="webjars/moment/2.24.0/locale/de.js"></script>
  <!-- angular-moment -->
  <script type="text/javascript" src="webjars/angular-moment/1.3.0/angular-moment.js"></script>
  <!-- Bootstrap UI -->
  <script type="text/javascript" src="webjars/ui-bootstrap4/3.0.6/dist/ui-bootstrap-tpls.js"></script>
  <!-- awesome-bootstrap-checkbox -->
  <link rel="stylesheet" href="webjars/awesome-bootstrap-checkbox/1.0.1/awesome-bootstrap-checkbox.css"/>
  <!-- toastr -->
  <script type="text/javascript" src="webjars/toastr/2.1.4/build/toastr.min.js"></script>
  <link rel="stylesheet" type="text/css" href="webjars/toastr/2.1.4/build/toastr.min.css">

  <!-- App basics -->
  <script type="text/javascript" src="appframework/appframework.js"></script>
  <script type="text/javascript" src="app/scripts/app.js"></script>
  <script type="text/javascript" src="app/scripts/main.js"></script>
  <script type="text/javascript" src="app/scripts/routes.js"></script>
  <script type="text/javascript" src="appframework/translate.js"></script>

  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="appframework/styles/global.css"/>
  <link rel="stylesheet" type="text/css" href="app/styles/global.css"/>

  <!-- Directives, factories, fitlers -->
  <script type="text/javascript" src="app/scripts/directive/actionCheckout.js"></script>
  <script type="text/javascript" src="app/scripts/directive/actionCopy.js"></script>
  <script type="text/javascript" src="app/scripts/directive/actionExtraction.js"></script>
  <script type="text/javascript" src="app/scripts/directive/actionReplacement.js"></script>
  <script type="text/javascript" src="appframework/directive/labelGroup.js"></script>
  <script type="text/javascript" src="app/scripts/directive/projectName.js"></script>
  <script type="text/javascript" src="app/scripts/services/actionCheckout.factory.js"></script>
  <script type="text/javascript" src="app/scripts/services/actionCopy.factory.js"></script>
  <script type="text/javascript" src="app/scripts/services/actionExtraction.factory.js"></script>
  <script type="text/javascript" src="app/scripts/services/actionReplacement.factory.js"></script>
  <script type="text/javascript" src="appframework/controller/confirm.controller.js"></script>

  <!-- Modules -->
  <script type="text/javascript" src="app/module/home/home.controller.js"></script>
  <script type="text/javascript" src="app/module/deployment/deployments.controller.js"></script>
  <script type="text/javascript" src="app/module/deployment/deployment.factory.js"></script>

  <script type="text/javascript" src="app/module/version/version.factory.js"></script>
  <script type="text/javascript" src="app/module/version/version.controller.js"></script>
  <script type="text/javascript" src="app/module/version/versions.controller.js"></script>

  <script type="text/javascript" src="app/module/vcs_host/vcs_host.factory.js"></script>
  <script type="text/javascript" src="app/module/vcs_host/vcs_host.controller.js"></script>
  <script type="text/javascript" src="app/module/vcs_host/vcs_hosts.controller.js"></script>

  <script type="text/javascript" src="app/module/project/project.factory.js"></script>
  <script type="text/javascript" src="app/module/project/project.controller.js"></script>
  <script type="text/javascript" src="app/module/project/projects.controller.js"></script>

  <script type="text/javascript" src="app/module/server/server.factory.js"></script>
  <script type="text/javascript" src="app/module/server/server.controller.js"></script>
  <script type="text/javascript" src="app/module/server/servers.controller.js"></script>

  <script type="text/javascript" src="app/module/tag_transformer/tag_transformer.factory.js"></script>
  <script type="text/javascript" src="app/module/tag_transformer/tag_transformer.controller.js"></script>
  <script type="text/javascript" src="app/module/tag_transformer/tag_transformers.controller.js"></script>

  <script type="text/javascript" src="app/module/maven_repository/maven_repository.factory.js"></script>
  <script type="text/javascript" src="app/module/maven_repository/maven_repository.controller.js"></script>
  <script type="text/javascript" src="app/module/maven_repository/maven_repositories.controller.js"></script>

  <script type="text/javascript" src="app/module/verification/verification.factory.js"></script>
  <script type="text/javascript" src="app/module/verification/verification.controller.js"></script>
  <script type="text/javascript" src="app/module/verification/verifications.controller.js"></script>

  <script type="text/javascript" src="appframework/controller/paging.factory.js"></script>

  <script type="text/javascript" src="appframework/module/profile/profile.controller.js"></script>
  <script type="text/javascript" src="appframework/module/login/authentication.factory.js"></script>
  <script type="text/javascript" src="appframework/module/login/login.controller.js"></script>
  <script type="text/javascript" src="appframework/module/login/logout.controller.js"></script>

  <script type="text/javascript" src="appframework/module/role/role.factory.js"></script>
  <script type="text/javascript" src="appframework/module/role/role.controller.js"></script>
  <script type="text/javascript" src="appframework/module/role/roles.controller.js"></script>
  <script type="text/javascript" src="appframework/module/role/permission.filter.js"></script>

  <script type="text/javascript" src="appframework/module/user/user.factory.js"></script>
  <script type="text/javascript" src="appframework/module/user/user.controller.js"></script>
  <script type="text/javascript" src="appframework/module/user/users.controller.js"></script>
  <script type="text/javascript" src="appframework/module/user/passwords-equal.directive.js"></script>

</head>
<body ng-controller="MainCtrl as main">
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#/" title="{{main.getVersion()}}">Versioning</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" ng-show="main.isLoggedIn()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" ng-show="main.isLoggedIn()">
          <a class="nav-link" href="#/versions" id="menu_versions"><i class="fa fa-puzzle-piece"></i> {{'versions' | translate}}</a>
        </li>
        <li class="nav-item" ng-show="main.isLoggedIn()">
          <a class="nav-link" href="#/deployments" id="menu_deployments"><i class="fa fa-download"></i> {{'deployments' | translate}}</a>
        </li>
        <li class="nav-item dropdown" ng-show="main.isLoggedIn()">
          <a class="nav-link dropdown-toggle" id="navbarAdministration" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" translate="administration"></a>
          <div class="dropdown-menu" aria-labelledby="navbarAdministration">
            <a ng-show="main.hasPermission('ADMIN_ROLES')" class="dropdown-item" href="#/roles" id="menu_roles"><i class="fa fa-puzzle-piece"></i> {{'roles' | translate}}</a>
            <a ng-show="main.hasPermission('ADMIN_USERS')" class="dropdown-item" href="#/users" id="menu_users"><i class="fa fa-user"></i> {{'users' | translate}}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#/vcs_hosts" id="menu_vcshosts"><i class="fa fa-code-fork"></i> {{'vcs_hosts' | translate}}</a>
            <a class="dropdown-item" href="#/projects" id="menu_projects"><i class="fa fa-barcode"></i> {{'projects' | translate}}</a>
            <a class="dropdown-item" href="#/servers" id="menu_servers"><i class="fa fa-server"></i> {{'servers' | translate}}</a>
            <a class="dropdown-item" href="#/maven_repositories" id="menu_maven_repositories"><i class="fa fa-database"></i> {{'maven_repositories' | translate}}</a>
            <a class="dropdown-item" href="#/tag_transformers" id="menu_tag_transformers"><i class="fa fa-exchange"></i> {{'tag_transformers' | translate}}</a>
          </div>
        </li>
        <li class="nav-item" ng-show="main.hasPermission('SHOW_VERIFICATIONS')">
          <a class="nav-link" href="#/verifications" id="menu_verifications"><i class="fa fa-lock"></i> {{'verifications' | translate}}</a>
        </li>
        <li class="nav-item" ng-show="main.isLoggedIn()">
          <a class="nav-link" href="#/profile" id="menu_profile"><i class="fa fa-address-card-o"></i> {{'profile' | translate}}</a>
        </li>
        <li class="nav-item" ng-show="main.isLoggedIn()">
          <a class="nav-link" href="#/logout" id="menu_logout"><i class="fa fa-sign-out fa-lg"></i> {{'logout' | translate}}</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" ng-show="main.isLoggedIn()" style="position: relative;">
        <input class="form-control mr-sm-2" type="search" placeholder="{{'search' | translate}}" ng-model="$root.search" id="site_search" aria-label="Search">
        <i class="fa fa-times searchclear" style="cursor: pointer" ng-class="{'grey': $root.search == '' || $root.search == undefined, 'black': $root.search != '' && $root.search != undefined}" ng-click="$root.search = ''"></i>
      </form>
    </div>
  </nav>

  <div class="container-fluid" id="page-wrapper" ng-view>
  </div>
</body>
</html>
