<h1 class="page-header"><i class="fa fa-puzzle-piece"></i>{{!vm.version.name ? '&nbsp;' : vm.version.name}}</h1>

<form class="form-horizontal" name="form">
	<div class="form-group">
		<label class="col-sm-2 control-label" for="control_id_project" translate="project"></label>
		<div class="col-sm-10 label-group-content">
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="!!vm.version.id">
					{{vm.version.project.name}} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li ng-repeat="project in vm.projects"><a href ng-click="vm.selectProject(project)">{{project.name}}</a></li>
				</ul>
			</div>
		</div>
	</div>
	<label-group label="{{'vcsTags' | translate}}" ng-if="!vm.version.id">
		<p>
			<span ng-repeat="tag in vm.tags" style="padding-top: 7px;">
				<span ng-if="tag.exists" style="margin-right: 4px;">{{tag.name}}</span>
				<a ng-if="!tag.exists" style="margin-right: 4px;" href="" ng-click="vm.version.vcsTag = tag.name">{{tag.name}}</a>
			</span>
		</p>
	</label-group>

	<label-group label="{{'vcsTag' | translate}}" ng-class="{'has-error': form.vcsTag.$touched && (form.vcsTag.$error.pattern || form.vcsTag.$error.required)}">
		<p>
			<input type="text" class="form-control" ng-model="vm.version.vcsTag" name="vcsTag" required ng-disabled="!!vm.version.id" />
		</p>
	</label-group>
	<button type="submit" ng-click="vm.save()" class="btn btn-default" ng-disabled="form.$invalid"><i class="fa fa-floppy-o"></i> Save</button>
</form>
